@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --practice-red: #9b2c4e;
  --practice-grey: #949494;
  --practice-grey-secondary: #717171;
  --practice-skin: #dfccd3;
  --practice-blue: #41477d;
  --text-grey: #383838;
  --text-blue: #1c296a;
  --text-light-blue: #709fce;
  --background-gray: #444444;
  --background-light-gray: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
